# Enviorment
.env

# sql databases
db.sqlite3

# Logs
*.log

# pycache
__pycache__/

# For now migrations
migrations/

rest-client.env.json

# Special Management terminal commands
actions/management/
